<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /cursos_elearning/femsa/valores_femsa/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /cursos_elearning/femsa/valores_femsa/index.html [L]
</IfModule>